
:root{
    --dark-square: rgb(182, 135, 99);
    --light-square: rgb(240, 218, 181);
    --medium-brown: #e3c7a2;
    --dark-square-selected: #657d65;
    --light-square-selected: #81a581;   
    --primary-color: #333;
    --accent-color: #f0a500;
    --text-light: #fff;
    --background: linear-gradient(135deg, var(--dark-square), var(--light-square));
}

.container {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
    margin: auto;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
 }

.max-width-board {
    max-width: min(65rem, 80%);
}

.max-width-main {
  max-width: min(50rem, 80%);
}

.max-height-main {
    max-height: 42rem;
}
