:root {
    --dark-square: rgb(182, 135, 99);
    --light-square: rgb(240, 218, 181);
    --primary-color: #333;
    --accent-color: #f0a500;
    --text-light: #fff;
    --background: linear-gradient(135deg, var(--dark-square), var(--light-square));
}


.dialog-style {
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 12px;
    /* padding: 20px; */
    margin-inline: auto;
    text-align: center;
}

.dialog-style.open {
    display: flex;
}

.dialog-style.closed {
    display: none;
}

.dialog-style * {
    z-index: inherit;
}

.dialog-style img {
    aspect-ratio: 1;
    width: 4rem;
    cursor: pointer;
    padding: 0.2rem;
}

.dialog-style h2 {
    font-size: 1.75rem;
    padding-inline: 0.2rem;
    color: var(--primary-color);
}


#over-container-flex {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    margin: 1rem;
}

.sub-container {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: 0rem;
    /* padding: 20px; */
    /* max-height: 40rem; */
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

#checkmate-dialog h2 {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 800;
}
