/* div[style] {
    -webkit-user-drag: element; 
    -moz-user-drag: -moz-element; 
    -ms-user-drag: element; 
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: -moz-none; 
    -ms-user-select: none; 
} */

:root{
    --dark-square: rgb(182, 135, 99);
    --light-square: rgb(240, 218, 181);
    --dark-square-selected: #657d65;
    --light-square-selected: #81a581;   
    --primary-color: #333;
    --accent-color: #f0a500;
    --text-light: #fff;
    --background: linear-gradient(135deg, var(--dark-square), var(--light-square));
}

body {
    /* background: var(--background);
      color: var(--primary-color); */
}

.centered-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

h1 {
    text-align: center;
    color: black;
}

#board {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    border: 2px solid #333; /* Board border */
}

.square {
    width: 60px;
    height: 60px;
    /* position: relative; */
}

.square img {
    height: 57px;
    width: 57px;
    margin: 3px;
    position: relative;
    z-index: -9;
    pointer-events: none; /* This makes the child ignore pointer events */
    /* position: absolute;
    z-index: 10; */
}

.piece {
    position: relative;
    z-index: 9;
    /* z-index: 10; */
    /* background-color: var(--light-square-selected); */
}

.dark {
    background-color: var(--dark-square);
}

.light {
    background-color: var(--light-square);
}

.selectedLight{
    background-color: var(--light-square-selected);
}

.selectedDark {
    background-color: var(--dark-square-selected);
}

body {
  /* margin: 0;
  padding: 0; */
  font-family: Arial, sans-serif; /* Change font family as needed */
}

#boardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.title-container {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.big-title {
  font-size: 3em; 
  color: var(--dark-square);
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.number {
    position: relative;
    /* align-self: right; */
    z-index: 10;
    color: green;
}

p {
    width: auto;
    height: auto;
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    gap: 1rem;
}
#buttons > * {
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    /* border-radius: 25%; */
    background-color: var(--light-square);
    border: 1px solid var(--dark-square);
    color: black;
    cursor: pointer;
}

#buttons > *:disabled {
    color: grey;
    cursor: default;
}