.centered-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

h1 {
    text-align: center;
    color: black;
}

#board {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
}

.square {
    width: 60px;
    height: 60px;
}

.dark {
    background-color: rgb(182, 135, 99);
}

.light {
    background-color: rgb(240, 218, 181);
    
}

.square img {
    height: 57px;
    width: 57px;
    margin: 3px;
}